<header class="bg-black">
    <div class="container py-6 mx-auto px-4">
        <div class="flex items-center justify-around">
            <h1 class="font-sans text-xl md:text-3xl capitalize text-white font-bold tracking-wider">Node_Todo</h1>
            <ul class="hidden md:flex items-center">
                <li class="font-san text-white text-lg capitalize tracking-wider mr-8 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/">Home</a></li>
                <li class="font-san text-white text-lg capitalize tracking-wider mr-8 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/create">Create</a></li>
                <li class="font-san text-white text-lg capitalize tracking-wider mr-2 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/about">About</a></li>
            </ul>
            <div class="md:hidden btn">
                <div class="bg-white w-10 h-1 mb-1"></div>
                <div class="bg-white w-10 h-1 mb-1"></div>
                <div class="bg-white w-10 h-1 mb-1"></div>
            </div>
        </div>
    </div>
    <div class="container py-3 mx-auto px-6 menu hidden md:hidden">
        <ul class="block">
            <li class="font-san text-white text-lg capitalize tracking-wider mr-8 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/">Home</a></li>
            <li class="font-san text-white text-lg capitalize tracking-wider mr-8 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/create">Create</a></li>
            <li class="font-san text-white text-lg capitalize tracking-wider mr-2 border-b-2 border-transparent transition ease-in-out duration-200 hover:border-white"><a href="/about">About</a></li>
        </ul>
    </div>
</header>
