<%- include("layouts/head.ejs") %>
<%- include("layouts/navigation.ejs") %>

<div class="container mx-auto py-20 px-6">
    <div class="max-w-3xl mx-auto">
        <h1 class="font-sans text-4xl capitalize tracking-wide pb-4">about us!</h1>
        <p class="font-sans leading-7 text-lg">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae illum aliquam reprehenderit cupiditate explicabo corporis incidunt est voluptate harum consectetur distinctio numquam in, odio consequuntur accusantium, reiciendis voluptatem amet natus assumenda? Excepturi quam ducimus praesentium aperiam ex, sit libero hic.
        </p>
    </div>
</div>

<%- include("layouts/scripts") -%>