<%- include("layouts/head.ejs") %>

<div class="container max-auto flex flex-col justify-center items-center" style="height: 100vh;">
    <div class="px-20">
        <h1 class="font-sans text-center text-5xl pb-4">Oooh Page is not found!</h1>
        <p class="font-sans text-7xl text-center text-red-500 font-bold">404</p>
    </div>
</div>